.exploreContainer{
    background-color: var(--teradon-background-hover);
    color: white;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
}

.exploreTitle{
    text-align: center;
   font-weight: 500;
    margin-top: 0px;
}

.exploreCard{
    position: relative;
    margin-bottom: 20px;
}

.articleImg{
    aspect-ratio: 3/2;
    height: 180px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.articleImg:hover{
-webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.cardText{
    position: absolute;
    padding: 20px;
    top: 30px;
}

.articleTitle{
font-size: x-large;
font-weight: 800;
margin-top: 0px;
}
.articleTopic{
margin: 0px
}

.exploreCard > *:hover {
    cursor: pointer;
}

.exploreCard :hover > .articleImg{
-webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.cardText:hover > .articleImg{
-webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.exploreTopic :hover > .articleImg{
-webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.articleImg:hover{
-webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}