.sideBar{
    background-color: var(--teradon-background);
}

.sideBarPost{
    background-color: var(--teradon-color) !important;
    border: none!important;
    color: white!important;
    font-weight: 900!important;
    text-transform: inherit !important;
    padding: 16px 0px !important;
    border-radius: 20px !important;
}   

.sideBarTeradon{
    font-weight: 800;
    font-size: xx-large;
    color: var(--teradon-color);
    margin-left: 20px;
    margin-top: 0px;
}