body{
  --teradon-color: #de0d48;
  --teradon-background: #161616;
  --teradon-background-hover: rgba(29, 29, 29, 0.648);
    background-color: var(--teradon-background);
}


.App{
  margin-top: 10px ;
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 10px;
  justify-content: center;

}

